#wrapper {
    width: 970px;
    text-align: center;
    padding-top: 150px;
    border: 5px solid darkblue;
    background-color: lightsteelblue;
    margin: 0 auto;
    height: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    text-align: center;
    font-size: 30px;
    color: darkblue;
}

